# Ignore compiled binaries
*.exe
*.dll

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore IDE-specific files
.vscode/launch.json
.vscode/settings.json

.idea/

# Ignore dependencies
/node_modules/

