.sideBarButton {
  -fx-background-color: #6941c6;
  transition: 0.5s;
}
.sideBarButton:hover {
  -fx-background-color: #9975e4;
}
.active {
  -fx-background-color: #7f56d9;
}
.active:hover {
  -fx-background-color: #9975e4;
}
