.sideBarButton {
  -fx-background-color: #6941c6;
  transition: 0.5s;
}
.sideBarButton:hover {
  -fx-background-color: #9975e4;
}
.active {
  -fx-background-color: #7f56d9;
}
.active:hover {
  -fx-background-color: #9975e4;
}
.tableView {
  -fx-background-color: transparent;
  -fx-alignment: left;
  -fx-border-color: #1e90ff;
  -fx-border-radius: 5px;
  -fx-border-width: 0.1px;
  -fx-font-size: 13;
  -fx-valignment: center;
}
.tableView .tableViewColumn {
  -fx-font-weight: 300;
  -fx-background-color: #fff;
  -fx-border-color: #1e90ff;
  -fx-border-width: 0.1px;
  -fx-text-fill: #3e3e3e;
  -fx-valignment: center;
}
